[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/eric/Bureau/Sync]
row=4
col=16

[/home/eric/Bureau/imprimer.nemo_action]
row=5
col=16

[/home/eric/Bureau/actions]
row=6
col=16

[6C22C3E622C3B2FE]
row=3
col=16

[Corbeille]
row=2
col=16

[/]
row=0
col=16

[/home/eric]
row=1
col=16

