[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/eric/Bureau/home mint]
row=5
col=19

[6C22C3E622C3B2FE]
row=3
col=19

[Corbeille]
row=2
col=19

[/]
row=0
col=19

[/home/eric]
row=1
col=19

